<div class="card">
  <div class="card-body p-md-4 px-md-5">
    <div class="row align-items-center">
      <div class="col-12 col-sm-4 col-xl-3">
        <div class="avatar mx-auto ms-sm-0">
          <img [src]="imagePath" alt="" />
          <label for="image" class="btn btn-primary circle">
            <i class="bi bi-card-image"></i>
            <i class="bi bi-pencil-square"></i>
          </label>
          <input
            type="file"
            id="image"
            class="d-none"
            (change)="onImageSelected($event)"
          />
        </div>
      </div>
      <div class="col mt-3 mt-sm-0">
        <h6>
          <label for="name" class="form-label">{{
            "resource-name." + "Resource Name" | translate
          }}</label>
        </h6>
        <div class="input-group">
          <input type="text" class="form-control" id="name" />
        </div>
      </div>
    </div>
  </div>
</div>
