<div class="card">
  <div class="card-body">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-xl-7">
        <h5>
          {{
            "resource-details." + "Select resource working hours" | translate
          }}
        </h5>
        <h6 class="small text-muted">
          {{ "resource-details." + "Configure your week" | translate }}
        </h6>
      </div>
      <div class="col-12 col-sm-8 col-md-6 col-xl-5">
        <nav
          ngbNav
          #nav="ngbNav"
          class="nav-pills justify-content-center justify-content-lg-between p-2"
        >
          <ng-container ngbNavItem>
            <button ngbNavLink>
              {{ "resource-details." + "Default Configuration" | translate }}
            </button>
            <ng-template ngbNavContent>
              <div *ngFor="let appointment of appointments; let i = index">
                <app-week-day
                  [day]="appointment"
                  (toggleDayEmitter)="toggleDay($event)"
                  [weekdayIndex]="i"
                ></app-week-day>
                <hr *ngIf="i != appointments.length - 1" />
              </div>
            </ng-template>
          </ng-container>
          <ng-container ngbNavItem>
            <a ngbNavLink>{{
              "resource-details." + "Advanced Configuration" | translate
            }}</a>
            <ng-template ngbNavContent>
              <p>{{ "resource-details." + "Filler content" | translate }}</p>
            </ng-template>
          </ng-container>
        </nav>
      </div>
    </div>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>
