<div class="row align-items-end day-row">
  <div class="col-2">
    <div class="form-check form-switch mb-2">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="activated"
        [checked]="appointmentData[i].active"
        (change)="onToggleDay()"
      />
      <label class="form-check-label pt-1 ms-1" for="activated">{{
        appointmentData[i].day
      }}</label>
    </div>
  </div>
  <div class="col">
    <!-- THIS IS THE ROW THAT NEEDS TO BE A COMPONENT TO ALLOW ADDING MORE TIME ENTRIES ,(to implement addAppointment()) -->
    <div class="row align-items-end">
      <div class="col" *ngIf="appointmentData[i].active">
        <p>from</p>
        <div class="input-group">
          <input
            type="text"
            [value]="formattedStartTime"
            class="form-control border-end-0"
            readonly
          />
          <div ngbDropdown #timePickerDrop="ngbDropdown">
            <button
              type="button"
              class="btn btn-outline-secondary input-btn"
              id="durationType"
              ngbDropdownToggle
            >
              <i class="bi bi-clock"></i>
            </button>
            <div ngbDropdownMenu>
              <ngb-timepicker
                [(ngModel)]="startTime"
                [minuteStep]="minuteStep"
                [meridian]="meridian"
              ></ngb-timepicker>
              <div class="row justify-content-center g-0 mt-2 px-3">
                <div class="col d-flex">
                  <button
                    class="btn btn-primary me-2"
                    (click)="
                      formatTime(startTime, 'start');
                      $event.stopPropagation();
                      timePickerDrop.close()
                    "
                  >
                    Save
                  </button>
                  <button
                    class="btn btn-primary"
                    (click)="
                      setNow('start');
                      $event.stopPropagation();
                      timePickerDrop.close()
                    "
                  >
                    Now
                  </button>
                </div>
                <div class="col-4 text-end">
                  <button
                    class="btn btn-primary"
                    (click)="$event.stopPropagation(); timePickerDrop.close()"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col" *ngIf="appointmentData[i].active">
        <p>to</p>

        <div class="input-group">
          <input
            type="text"
            [value]="formattedEndTime"
            class="form-control border-end-0"
            readonly
          />
          <div ngbDropdown #timePickerDrop="ngbDropdown">
            <button
              type="button"
              class="btn btn-outline-secondary input-btn"
              id="durationType"
              ngbDropdownToggle
            >
              <i class="bi bi-clock"></i>
            </button>
            <div ngbDropdownMenu>
              <ngb-timepicker
                [(ngModel)]="endTime"
                [minuteStep]="minuteStep"
                [meridian]="meridian"
              ></ngb-timepicker>
              <div class="row justify-content-center g-0 mt-2 px-3">
                <div class="col d-flex">
                  <button
                    class="btn btn-primary me-2"
                    (click)="
                      formatTime(endTime, 'end');
                      $event.stopPropagation();
                      timePickerDrop.close()
                    "
                  >
                    Save
                  </button>
                  <button
                    class="btn btn-primary"
                    (click)="
                      setNow('end');
                      $event.stopPropagation();
                      timePickerDrop.close()
                    "
                  >
                    Now
                  </button>
                </div>
                <div class="col-4 text-end">
                  <button
                    class="btn btn-primary"
                    (click)="$event.stopPropagation(); timePickerDrop.close()"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-2 d-flex justify-content-around"
        *ngIf="appointmentData[i].active"
      >
        <button
          class="btn btn-outline-secondary me-2"
          (click)="addAppointment()"
        >
          <i class="bi bi-plus-lg"></i>
        </button>

        <button class="btn btn-primary"><i class="bi bi-copy"></i></button>
      </div>
    </div>
  </div>
</div>
